@charset "utf-8";
/* CSS Document */
body{
    font-family:poppins;
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
P.heading
{
    color: white;
}
p.details
{
    color: white;
}
.services{
	height:600px;
	background-color:#ffffff;
	padding: 2% 10% 0px 10%;
}
.services-text p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#1d1c1c;
	font-size:30px;
	line-height:0px;
}
.services-text p:nth-child(2){
	font-family:calibri;
	font-weight: bold;
	color:#3e3d3d;
	font-size: 15px;
	line-height: 5px;
}
.services-text p:nth-child(3){font-family:calibri;
color:#7e7d7d;
}
.services-text{
/*	width: 500px;*/
	margin:50px 0px;
}
.box-container{
	display:flex;
	justify-content:space-between;
}
.box-1,.box-2,.box-3{
	width: 300px;
	height:320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 0px 4px;
	
	
}
 
.box-1{
	background-image:url("../imagess/dd.jpg");
}
.box-2{
	background-image:url("../imagess/hh.png");
}
.box-3{
    background-image:url("../imagess/tt.jpg");
}
.box-1 span,
.box-2 span,
.box-3 span{
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:#ffffff;
	display: flex;
	justify-content: center;
	align-items:center;
	font-family: calibri;
	font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
	color:#FFFFFF;
	font-family: calibri;
	font-size: 23px;
	line-height:0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
	font-family: calibri;
	color:#8F8F8F;
	text-align:center;
	width: 230px;
	margin:0px 0px 20px 0px;
}
.box-1 button,
.box-2 button,
.box-3 button{
	width:100px;
	height:30px;
	background-color:#FFFFFF;
	border:none;
	outline: none;
	border-radius:5px;
}
.contact-me{
	width: 100%;
	height:280px;
	background-size:cover;
	background-repeat:no-repeat;
	background-image: url(  "");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 20px 0px;
}
.contact-me p{
	color:#4691cb;
	font-size: 30px;
	font-family: calibri;
	font-weight:bold;
	border-bottom:2px solid #4691cb;
}
.contact-me button{
	width:200px;
    color: white;
	height:40px;
	background-color: #4691cb;
	border:none;
	outline:none;
	font-size:14px;
    font-weight:bold;
}
  
 
    @media(max-width:1000px){
        *{
            box-sizing: border-box;
        }
       
        .services{
            padding: 2% 5% 0px 5%;
        }
        .box-container{
            justify-content: center;
            flex-wrap: wrap;
        }
        .services{
            height: auto;
        }
        .box-1,.box-2,.box-3{
            flex-grow: 1;
            margin: 10px;
        }
        .contact-me{
            height: 200px;
        }
        .contact-me p{
            font-size: 26px;
        }
        .contact-me button{
            font-size: 14px;
            height:35px;
            width: 160px;
        }
    }
    @media(max-width:750px){
        section{
            background-image:none;
            background-color:#f7f7f7;
        }
        .model{
            display: none;
        }
        .toggle{
            display: block;
        }
        .text-container p:nth-child(2){
            line-height: 40px;
            margin: 0px;
            padding: 0px;
            
        }
        .text-container{
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 80%;
        }
        nav ul{
            margin: 0px;
            padding: 0px;
            background-color: #ebeef4;
            flex-direction: column;
            position: fixed;
            left: 0;
            top: 0;
            width:100%;
            height: 100vh;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            display: none;
            
        }
        nav ul li{
            padding: 10px;
        }
        nav ul li a{
            font-family: calibri;
            font-size: 1.4em;
            text-transform: uppercase;
            color:#5c5c5c;
        }
        nav ul li a:hover{
            color:#121212;
        }
        .toggle:before{
            content: '\f0c9';
            font-family: fontAwesome;
            line-height: 30px;
            z-index: 1;
        }
        .toggle.active:before{
            content: '\f00d';
            position: fixed;
            right: 25px;
            line-height: 0px;
            
        }
        nav.active ul{
            display: flex !important;
        }
        .about-container{
            top: 0px;
            flex-direction: column;
            width:90%;
            height: auto;
            padding: 30px 0px;
            align-items: center;
        }
        .about-text{
            width:90%;
            text-align: center;
        }
        .services-text{
            width: 100%;
        }
        .contact-me{
            height: 180px;
        }
        .contact-me p{
            font-size: 18px;
        }
        .contact-me button{
            width: 150px;
            height: 33px;
        }
        
    }


